{{define "bottom"}}
<footer>
    Hi there! Here are some social links worth clicking
    <ul>
        <li>
            <a href="www.github.com/Rahul-NITD"></a>
        </li>
    </ul>
</footer>
</body>
</html>
{{end}}